body {
    background-color: #3D1F79;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scroll bars */
}
.iframe-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scroll bars */
}
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -9vh;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 17%; /* Cover 20% of the iframe */
    background-color: #3D1F79; /* Same as the background color */
    color: white; /* Text color */
    z-index: 1; /* Ensure the overlay is above the iframe */
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif; /* Font styling */
}

.overlay p {
    margin: 0;
    padding: 0.2em 0;
}